<div class="dice-roll">
  <div class="dice-result">
    {{#if fallout}}
    <h4 class="dice-total">
      {{localize "SPIRE.Fallout"}} - {{localize resistance_label}}
    </h4>
    <div class="spire-vertical-gap"></div>
    <h4 class="dice-total">{{localize severity}}</h4>
    {{else}}
    <h4 class="dice-total">{{localize "SPIRE.NoFallout"}}</h4>
    {{/if}}
  </div>
</div>
