<form>
  <div class="spire-roll-popup">
    <!-- Resistance -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Resistance"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        {{#each system.resistances as |resistance key|}} {{#unless
        resistance.armor}}
        <input
          type="radio"
          id="stress-roll-{{key}}"
          name="stress-roll-resistance"
          value="{{key}}"
        />
        <label for="stress-roll-{{key}}">{{localize resistance.label}}</label>
        {{/unless}} {{/each}}
      </div>
    </div>
    <!-- Ignore armor -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.IgnoreArmor"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        <input
          type="checkbox"
          id="stress-roll-ignore-armor"
          name="stress-roll-ignore-armor"
        />
        <label for="stress-roll-ignore-armor"
          >{{localize "SPIRE.IgnoreArmor"}}</label
        >
      </div>
    </div>
    <!-- Dice -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Dice"}}</div>
      <div
        class="spire-roll-options spire-roll-options-column spire-roll-options-blue"
      >
        <input
          type="radio"
          id="stress-roll-d3"
          name="stress-roll-dice"
          value="d3"
        />
        <label for="stress-roll-d3">D3</label>
        <input
          type="radio"
          id="stress-roll-d6"
          name="stress-roll-dice"
          value="d6"
        />
        <label for="stress-roll-d6">D6</label>
        <input
          type="radio"
          id="stress-roll-d8"
          name="stress-roll-dice"
          value="d8"
        />
        <label for="stress-roll-d8">D8</label>
      </div>
    </div>
    <!-- Modifier -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Modifier"}}</div>
      <div
        class="spire-roll-options spire-roll-options-column spire-roll-options-blue"
      >
        <input
          type="radio"
          id="stress-roll-0"
          name="stress-roll-modifier"
          value=""
          checked
        />
        <label for="stress-roll-0">0</label>
        <input
          type="radio"
          id="stress-roll-1"
          name="stress-roll-modifier"
          value="+1"
        />
        <label for="stress-roll-1">+1</label>
        <input
          type="radio"
          id="stress-roll-2"
          name="stress-roll-modifier"
          value="+2"
        />
        <label for="stress-roll-2">+2</label>
        <input
          type="radio"
          id="stress-roll-3"
          name="stress-roll-modifier"
          value="+3"
        />
        <label for="stress-roll-3">+3</label>
        <input
          type="radio"
          id="stress-roll-4"
          name="stress-roll-modifier"
          value="+4"
        />
        <label for="stress-roll-4">+4</label>
      </div>
    </div>
  </div>
</form>
