/******************************************************************************
 * General Theming for spire dialogs and windows                                                        * 
 ******************************************************************************/

#spireDialog .window-content,
.spire .window-content {
  background: none;
  background-image: none;
  background-color: #DCE4F0;
}

#spireDialog .window-header,
.spire .window-header {
  background-color: #2c394c;
}

#spireDialog .dialog-buttons button.default,
#spireDialog .dialog-buttons button,
.spire form button {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  background-color: #ffffff;
  border: 1px solid #111111;
  font-size: var(--font-size-16);
}

#spireDialog button:hover, 
#spireDialog button:focus, 
.spire form button:hover {
  background-color: #ffffff;
  border: 1px solid #0065ff;
  box-shadow: 0 0 5px #0065ff;
}

.spire input[type="text"] {
  border: none;
  border-bottom: 1px solid #111111;
  border-radius: 0;
  background: none;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

.spire input[type="checkbox"] {
  margin: 0;
}

.spire input[type="text"]:focus, 
.spire input[type="checkbox"]:focus,
.spire form button:focus,
.spire a:focus {
  box-shadow: 0 0 5px #0065ff;
}

.spire a:hover {
  color: #0065ff;
  text-shadow: 0 0 8px #0065ff;
}

.character .window-content {
  background: none;
  background-image: url('/systems/spire/assets/bg-shape.webp');
  background-repeat: repeat-y;
  background-position: left top;
  background-color: #DCE4F0;
}

.spire.sheet.character {
  min-height: 833px;
  min-width: 600px;
}

/******************************************************************************
 * Generic helpers.                                                           * 
 ******************************************************************************/

.spire-flexbox {
  display: flex;
  justify-content: space-between;
}

.spire-flexbox-column {
  display: flex;
  flex-direction: column;
  width: 24%;
}

.grid-12-col {
  grid-column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-2-col {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.small-gap {
  gap: 4px;
}

.w-50 {
  width: 50%;
}

.span-1-col {
  grid-column-end: span ;
}

.span-2-col {
  grid-column-end: span 2;
}

.span-4-col {
  grid-column-end: span 4;
}

.span-6-col {
  grid-column-end: span ;
}

.span-12-col {
  grid-column-end: span 2;
}

.spire-horizontal-gap {
  width: 5px;
}

.spire-vertical-gap {
  height: 5px;
}

/******************************************************************************
 * General information.                                                       * 
 ******************************************************************************/

.spire-portrait {
  border: 1px solid black;
  background-color: #a8b7cec4;
  height: 100px;
  width: 100px;
}

.spire-general-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
  padding-bottom: 5px;
  width: 60%;
}

input.spire-general-information-input-name {
  font-size: 32px;
  height: 40px;
}

input.spire-general-information-input {
  color: #4b4a44;
  font-size: 18px;
  height: 24px;
}

input.spire-general-information-input-name:hover,
input.spire-general-information-input:hover {
  box-shadow: 0 0 8px #0065ff;
}

/******************************************************************************
 * Skills, domains and resistances lists.                                     * 
 ******************************************************************************/

.spire-skill-list-title,
.spire-domain-list-title,
.spire-resistance-list-title {
  color: #4b4a44;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.spire-skill,
.spire-domain,
.spire-resistance {
  display: flex;
  height: 24px;
  justify-content: space-between;
}

.spire-skill,
.spire-domain {
  padding: 3px 5px 3px 50px;
}

.spire-resistance {
  padding: 3px 10px 3px 50px;
  display: flex;
  justify-content: space-between;
}

.spire-skill-label,
.spire-domain-label,
.spire-resistance-label {
  font-size: 13px;
  line-height: 20px;
}

.spire-resistance-value-input,
.spire-resistance-stress-input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: center !important;
  height: 100% !important;
  width: 20px !important;
}

.spire-resistance-stress-input {
  font-weight: bold;
}

.spire-fake-resistance-input {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  width: 20px;
}

.spire-resistance-value-input:hover,
.spire-resistance-stress-input:hover {
  border: 1px solid #111 !important;
  box-shadow: 0 0 8px #0065ff !important;
}

/******************************************************************************
 * Tables.                                                                    * 
 ******************************************************************************/

.spire-table {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #111111;
}

.spire-table-title {
  background: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 3px 5px 0px 5px;
  height: 28px;
  align-items: center;
}

.spire-table-title-label {
  color: #4b4a44;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.spire-item-create {
  color: #7a7971;
  font-size: 12px;
}

.spire-item-delete,
.spire-item-edit {
  color: #7a7971;
  font-size: 12px;
  line-height: 20px;
}

.spire-table-items {
  overflow: auto;
}

.spire-table-item {
  border-bottom: 1px solid #c9c7b8;
  padding: 2px 5px 2px 5px;
  background-color: #dce4f042;
}

.spire-table-item-title {
  display: flex;
  justify-content: space-between;
}

.spire-table-item-title-label {
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
  min-height: 20px;
  max-height: 40px;
}

.spire-table-item-title-label:hover {
  cursor: pointer;
  text-shadow: 0 0 8px #0065ff;
}

.spire-table-item-title-controls {
  line-height: 20px;
  min-height: 20px;
  max-height: 40px;
  margin-left: 5px;
}

.spire-tag {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  line-height: 16px;
  padding: 0 3px;
}

/******************************************************************************
 * Grid.                                                                      * 
 ******************************************************************************/

.spire-grid {
  height: 670px;
  margin-top: 10px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.spire-skills-domains-resistances {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.spire-knacks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.spire-equipment {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.spire-refresh {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.spire-abilities {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.spire-bonds {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.spire-fallout {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

/******************************************************************************
 * Special style for roll popups.                                             *
 ******************************************************************************/

.spire-roll-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
}

.spire-popup-subtitle {
  text-align: center;
  margin-bottom: 4px;
  font-weight: bold;
}

.spire-roll-options input {
  display: none;
}

.spire-roll-options-row {
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
}

.spire-roll-options-column {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 4px;
}

.spire-roll-options label {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  cursor: pointer;
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  text-align: center;
  text-overflow: ellipsis;
}

.spire-roll-options input[type="checkbox"] + label {
  border-style: dashed;
  opacity: 0.75;
}

.spire-roll-options input[type="radio"]:checked + label {
  border-color: black;
  border-style: solid;
  color: #e9e7d8;
}

.spire-roll-options input[type="checkbox"]:checked + label {
  border-color: black;
  border-style: solid;
  color: #e9e7d8;
  opacity: 1;
}

.spire-roll-options-blue input[type="checkbox"]:checked + label,
.spire-roll-options-blue input[type="radio"]:checked + label {
  background: rgb(47, 80, 132);
}

.spire-roll-options-red input[type="checkbox"]:checked + label,
.spire-roll-options-red input[type="radio"]:checked + label {
  background: #822a15;
}

/******************************************************************************
 * Special style for the roll message.                                        *
 ******************************************************************************/

.spire-roll-info-inactive {
  border: 1px dashed #7a7971;
  border-radius: 3px;
  opacity: 0.75;
  padding: 3px;
  text-align: center;
}

.spire-roll-info-active {
  background: rgb(47, 80, 132);
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  padding: 3px;
  text-align: center;
}

.spire-roll-info-difficulty {
  background: #822a15;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  padding: 3px;
  text-align: center;
}

.spire-muted-die {
  opacity: 0.3;
}
